
body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 100%;
}
#calc{
    background-color: rgb(117, 116, 116);
    border-radius: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 1% 0 1% 0;
    max-width: 25rem;
    align-items: center;
}
#calc .output{
    border-radius: .5rem;
    min-height: 3rem;
    margin-top: 1rem;
    background-color: white;
    text-align: left;
    text-size-adjust: 50%;
    padding: .5rem .5rem .5rem .5rem;
    margin: 5% 10% 5% 10%;
    animation:
    typing 2s steps(18),
    cursor .4s step-end infinite alternate;
    position: relative;
    overflow-wrap: break-word;
}
@keyframes cursor {
    50% { border-color: transparent;}
}
#calc .output::after{
    content: '';
    position: absolute;
    border-left: 1px solid black; /* Define the cursor style */
    height: 1.2rem;
    animation: cursor-blink .85s infinite step-start;

}
@keyframes cursor-blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#calc .grid-container{
   
    padding: 0.5rem;
 
    display: grid;
    grid-gap: 10px;
    border-radius: .5rem;
    grid-template-columns: auto auto auto auto auto;
    margin: 5% 10% 5% 10%;
    background-color:  rgb(142, 142, 142);
}
#calc .grid-container .grid-item{
    background-color:  rgb(117, 116, 116);
    padding : 0.2rem;
    font-size: 30px;
    text-align: center;
    border-radius: .5rem;
}
#button-fact-m{
    display: none;
}
#button-pow-m{
    display: none;
}
#button-sqrt-m{
    display: none;
}
#button-pi-m{
    display: none;
}
#button-e-m{
    display: none;
}
@media screen and (max-width:992px){
    #calc{
        width: 80%;
    }
}
@media screen and (max-width:768px){
    #calc{
        height: 70%;
    }
    #button-fact-l{
        display: none;
    }
    #button-pow-l{
        display: none;
    }
    #button-sqrt-l{
        display: none;
    }
    #button-pi-l{
        display: none;
    }
    #button-e-l{
        display: none;
    }
    #button-fact-m{
        display: grid;
    }
    #button-pow-m{
        display: grid;
    }
    #button-sqrt-m{
        display: grid;
    }
    #button-pi-m{
        display: grid;
    }
    #button-e-m{
        display: grid;
    }
    #calc .grid-container{
   
        padding: 0.5rem;
     
        display: grid;
        grid-gap: 10px;
        border-radius: .5rem;
        grid-template-columns: auto auto auto auto;
        margin: 5% 10% 5% 10%;
        background-color:  rgb(142, 142, 142);
    }
    
}
@media screen and (max-width:575.98px){
 body{
    height: 100vh;
    padding: 0;
 }
    main{
    height: 100vh;
    margin-top: 0;
  }
  #calc{
    height: 80%;
    width: 60%;
  }
    #button-fact-l{
        display: none;
    }
    #button-pow-l{
        display: none;
    }
    #button-sqrt-l{
        display: none;
    }
    #button-pi-l{
        display: none;
    }
    #button-e-l{
        display: none;
    }
    #button-fact-m{
        display: grid;
    }
    #button-pow-m{
        display: grid;
    }
    #button-sqrt-m{
        display: grid;
    }
    #button-pi-m{
        display: grid;
    }
    #button-e-m{
        display: grid;
    }
    #calc .grid-container{
   
        padding: 0.5rem;
     
        display: grid;
        grid-gap: 10px;
        border-radius: .5rem;
        grid-template-columns: auto auto auto auto;
        margin: 5% 10% 5% 10%;
        background-color:  rgb(142, 142, 142);
    }
    
}
